*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 93.75%;
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-position: top, bottom;
  background-repeat: no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.titling h1 {
  font-size: 2rem;
  margin: 2rem 2rem 1rem 2rem;
  color: #502050;
}

.titling .desc {
  padding: 1rem;
  color: #937b92;
  font-weight: 400;
}

.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

.ratings__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  background-color: #f7f2f7;
  border-radius: 6px;
}

.ratings__rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.7rem;
  padding-bottom: 0.6rem;
}

.ratings__rating-container-star {
  width: 1em;
  height: 1rem;
  background-image: url(../images/icon-star.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.ratings__rating-text {
  font-weight: 700;
  color: #502050;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  gap: 2rem;
}

.reviews__card {
  background-color: #502050;
  border-radius: 6px;
}

.reviews__card-review {
  position: relative;
  padding: 2rem;
  color: #f7f2f7;
}

.reviews__card-review-person {
  position: relative;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.reviews__card-review-person-profimg {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: 0.5rem;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.reviews__card-review-person-name {
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
}

.reviews__card-review-person-verified {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ee68a4;
}

.reviews__card-review-text {
  text-align: left;
  line-height: 1.5rem;
}

.reviews .one {
  background-image: url(../images/image-colton.jpg);
}

.reviews .two {
  background-image: url(../images/image-irene.jpg);
}

.reviews .three {
  background-image: url(../images/image-anne.jpg);
}

@media (min-width: 1300px) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top, bottom;
  }
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5rem 10rem;
  }
  .titling {
    text-align: left;
    width: 50%;
  }
  .titling h1 {
    font-size: 3rem;
    margin: 2rem 2rem 1rem 1rem;
    color: #502050;
  }
  .titling .desc {
    padding: 1rem;
    color: #937b92;
    font-weight: 400;
  }
  .ratings__rating {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2em;
  }
  .ratings__rating-container {
    padding-bottom: 0;
  }
  .ratings .center-x {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  .ratings .right-x {
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem);
  }
  .reviews {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2rem;
    font-size: 0.7rem;
  }
  .reviews__card-review-person {
    margin-bottom: 0;
  }
  .reviews__card-review-person-profimg {
    top: 0;
  }
  .reviews .center-y {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  .reviews .right-y {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
}
/*# sourceMappingURL=main.css.map */