*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Spartan', sans-serif;
	font-size: 93.75%; //15px
	background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
	background-position: top, bottom;
	background-repeat: no-repeat;
}

.wrapper {
	display: flex;
	flex-direction: column;
	text-align: center; //pamietaj jakby sie tekst wysypywal
}

.titling {
	h1 {
		font-size: 2rem;
		margin: 2rem 2rem 1rem 2rem;
		color: hsl(300, 43%, 22%);
	}

	.desc {
		padding: 1rem;
		color: hsl(303, 10%, 53%);
		font-weight: 400;
	}
}
.ratings {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2rem;

	&__rating {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 2rem;
		background-color: hsl(300, 24%, 96%);
		border-radius: 6px;
		&-container {
			display: flex;
			flex-direction: row;
			gap: 0.7rem;
			padding-bottom: 0.6rem;
			&-star {
				width: 1em;
				height: 1rem;
				background-image: url(../images/icon-star.svg);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		&-text {
			font-weight: 700;
			color: hsl(300, 43%, 22%);
		}
	}
}

//pozycjonowanie imienia i "verified
.data {
	display: flex;
	flex-direction: column;
}

// koniec
.reviews {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	gap: 2rem;
	&__card {
		background-color: hsl(300, 43%, 22%);
		border-radius: 6px;
		&-review {
			position: relative;
			padding: 2rem;
			color: hsl(300, 24%, 96%);
			&-person {
				position: relative;
				padding: 1rem;
				margin-bottom: 1.5rem;
				&-profimg {
					position: absolute;
					width: 3.5rem;
					height: 3.5rem;
					top: 0.5rem;
					left: 0;
					background-size: contain;
					background-repeat: no-repeat;
					border-radius: 50%;
				}

				&-name {
					font-size: 0.8rem;
					font-weight: 700;
					color: white;
				}
				&-verified {
					font-size: 0.8rem;
					font-weight: 400;
					color: hsl(333, 80%, 67%);
				}
			}
			&-text {
				text-align: left;
				line-height: 1.5rem;
			}
		}
	}

	.one {
		background-image: url(../images/image-colton.jpg);
	}
	.two {
		background-image: url(../images/image-irene.jpg);
	}
	.three {
		background-image: url(../images/image-anne.jpg);
	}
}

/////////////////////
//MEDIA QUERIES
////////////////////

@media (min-width: 1300px) {
	body {
		background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
		background-position: top left, bottom right;
	}
	.wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		margin: 5rem 10rem;
	}

	.titling {
		text-align: left;
		width: 50%;
		h1 {
			font-size: 3rem;
			margin: 2rem 2rem 1rem 1rem;
			color: hsl(300, 43%, 22%);
		}

		.desc {
			padding: 1rem;
			color: hsl(303, 10%, 53%);
			font-weight: 400;
		}
	}

	.ratings {
		&__rating {
			flex-direction: row;
			gap: 2em;
			&-container {
				padding-bottom: 0;
			}
		}
		.center-x {
			transform: translateX(3rem);
		}
		.right-x {
			transform: translateX(6rem);
		}
	}

	.reviews {
		flex-direction: row;
		margin: 2rem;
		font-size: 0.7rem;
		&__card-review-person {
			margin-bottom: 0;
		}
		&__card-review-person-profimg {
			top: 0;
		}
		.center-y {
			transform: translateY(2rem);
		}
		.right-y {
			transform: translateY(4rem);
		}
	}
}
